.sidebar{
  flex:1;
  min-height: calc(100vh - 9.5em);
  position: sticky;
  top:5.5em;
  margin:2em ;
  border-radius: 10px;
  background: rgb(63,13,18);
  background: radial-gradient(circle, rgba(63,13,18,1) 0%, rgba(23,5,5,1) 50%);
  box-shadow: -4px 4px 9px 1px rgba(122,122,122,0.75);
  -webkit-box-shadow: -4px 4px 9px 1px rgba(122,122,122,0.75);
  -moz-box-shadow: -4px 4px 9px 1px rgba(122,122,122,0.75);
}
.sidebarWrapper{
  padding:0.8em 2em;
  color: #e3cb99;
}

.sidebarMenu{
  margin-bottom: 1em;
}

.sidebarTitle{
  font-size: 1rem;
  color:#cecba89a;
  padding: 0.3em 0;
}

.sidebarList{
  list-style: none;
  padding: 0.1em 0.5em;  
}

.sidebarListItem{
  cursor: pointer;
  padding:0.2em;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.sidebarListItem svg{
  padding:0.1em 0.4em;
  font-size: 20px;
}
.sidebarListItem.active , .sidebarListItem:hover{
  background-color: #aa771c;
  color: #fffbd2;
}


@media screen and (min-width:1441px) {
  .sidebarWrapper{
    padding: 2em;
  }
  .sidebarMenu{
  margin-bottom: 2em;
}

  .sidebarTitle{
    padding:0.5em;
  }

  .sidebarList{
    padding: 0.1em 0.6em;
  }
}