.userList{
  flex: 4;
  color:black;
  background: rgb(63,13,18);
  background: radial-gradient(circle, rgba(63,13,18,1) 0%, rgba(23,5,5,1) 50%);
  margin:2em;
  border-radius:10px;
  box-sizing: border-box;
  box-shadow: -4px 4px 9px 1px rgba(122,122,122,0.75);
  -webkit-box-shadow: -4px 4px 9px 1px rgba(122,122,122,0.75);
  -moz-box-shadow: -4px 4px 9px 1px rgba(122,122,122,0.75);
  padding: 2em;
  color:#e3cb99;
}

.userListUser{
  display: flex;
  align-items: center;
}

.userListUser img{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 0.5em;
}

.userListEdit{
  padding: 5px 10px;
  border:none;
  border-radius: 10px;
  background-color: rgb(111, 200, 255);
  color:rgb(6, 6, 58);
  margin-right: 1em;
}