.userList{
  flex: 4;
  color:black;
  background: rgb(63,13,18);
  background: radial-gradient(circle, rgba(63,13,18,1) 0%, rgba(23,5,5,1) 50%);
  margin:2em;
  border-radius:10px;
  box-sizing: border-box;
  box-shadow: -4px 4px 9px 1px rgba(122,122,122,0.75);
  -webkit-box-shadow: -4px 4px 9px 1px rgba(122,122,122,0.75);
  -moz-box-shadow: -4px 4px 9px 1px rgba(122,122,122,0.75);
  padding: 3em;
  color:#e3cb99;
}

.userListUser{
  display: flex;
  align-items: center;

}

.userListUser img{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 0.5em;
}

.userListEdit{
  padding: 5px 10px;
  border:none;
  border-radius: 10px;
  background-color: rgb(255, 255, 173);
  color: darkgoldenrod;
  margin-right: 2em;
  margin-left:0.4em;
}

.userListDelete{
  color: lightcoral;
}
/* text colors */
.css-t0edp9-MuiDataGrid-root , .css-rtrcn9-MuiTablePagination-root{
  color:#e3cb99 !important;
}
/* checkbox style */
.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root, .css-t0edp9-MuiDataGrid-root .MuiDataGrid-iconSeparator{
  color:#fffac163 !important;
  
}
 
.css-17jjc08-MuiDataGrid-footerContainer{
  border-top:none !important;
}

.css-1pe4mpk-MuiButtonBase-root-MuiIconButton-root{
  color:white !important; 
}

/* on focus colors */
.css-t0edp9-MuiDataGrid-root .MuiDataGrid-cell:focus , .MuiDataGrid-columnHeaderTitleContainer:focus-visible{
    outline: solid #e3cb99 1px !important;
}
