.widgetLg{
  flex:2;
  margin:2em;
  border-radius:10px;
  box-shadow: -4px 4px 9px 1px rgba(122,122,122,0.75);
  -webkit-box-shadow: -4px 4px 9px 1px rgba(122,122,122,0.75);
  -moz-box-shadow: -4px 4px 9px 1px rgba(122,122,122,0.75);
  padding: 2em;
  background: rgb(63,13,18);
  background: radial-gradient(circle, rgba(63,13,18,1) 0%, rgba(23,5,5,1) 50%);
  color:#e3cb99;
}

.widgetLgTitle{
  font-size: 1.5rem;
  font-weight: 600;
}

.widgetLgTable{
  width: 100%;
  border-spacing: 1.5em;
}

.widgetLgTh{
  text-align: left;
}

.widgetLgUser{
  display: flex;
  align-items: center;
  font-weight: 600;
}

.widgetLgImg{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1em;
}

.widgetLgButton{
  width: 100%;
  padding: 5px 7px;
  border-radius: 10px;
  border:none;
}
.widgetLgButton.Approved{
  background-color: lightgreen;
  color:darkgreen
}

.widgetLgButton.Declined{
  background-color: lightcoral;
  color: #250000;
}

.widgetLgButton.Pending{
  background-color: rgb(255, 255, 173);
  color: darkgoldenrod;
}
.widgetLgDate, .widgetLgAmount{
  font-weight: 300;
}
