.chart{
  margin:2em;
  border-radius:10px;
  box-shadow: -4px 4px 9px 1px rgba(122,122,122,0.75);
  -webkit-box-shadow: -4px 4px 9px 1px rgba(122,122,122,0.75);
  -moz-box-shadow: -4px 4px 9px 1px rgba(122,122,122,0.75);
  padding: 2em;
  background: rgb(63,13,18);
  background: radial-gradient(circle, rgba(63,13,18,1) 0%, rgba(23,5,5,1) 50%);
  color:#e3cb99;
}

.chartTitle{
  margin-bottom: 1em;
  font-size: 1.5rem;
  font-weight: 600;
}